.app-greeting-container {
    position: relative;
    text-align: center;
    color: #676767;
    font-size: 20px;
    margin-top: 12px;
}

.app-greeting {
    padding-bottom: 1px;
}

.app-apt-info {
    
}

.app-logout-button {
  width: 81px;
  height: 45px;
  background-color: #C9C9C9;
  border-radius: 5px;
  border: 1px solid #676767;
    float: right;
    text-align: center;
  color: inherit;
  text-decoration: none;
    margin-right: 20px;
}

.app-logout-text {
    padding-top: 14px;
}

.system-msg {
    position: fixed;
    top: 5px;
    left: 10px;
    z-index: 1000;
}

.click-here-cont {
    margin: 0 auto;
    z-index: 1010;
    text-align: center;
    max-width: 800px;
}

.click-here-image {
    z-index: 1011;
    height: 50px;
    float: right;
    padding-top: 50px;
}

footer {
    position: fixed;
    bottom: 14px;
    right: 18px;
}