.my-cube-back {
  position: relative;
  margin: 0px auto;
  height: 121px;
  width: 400px;
    background-color: #C9C9C9;
    color: #4D4D4D;
    font-family: sans-serif;
}

.my-status-label {
    position: absolute;
    font-size: 15px;
    top: 8px;
    left: 40px;
}

.my-status-input {
    position: absolute;
    width: 200px;
    font-size: 14px;
    top: 10px;
    left: 95px;
}

.my-status-set {
    position: absolute;
    width: 50px;
    height: 23px;
    border-radius: 3px;
    border: 1px solid #676767;
    color: #4A4A4A;
    background-color: #A0A0A0;
    top: 10px;
    left: 308px;
    font-size: 15px;
}

.my-messages-label {
    font-size: 13px;
    text-decoration: underline;
    position: absolute;
    top: 30px;
    left: 170px;
}

.my-cube-back .message {
    font-size: 12px;
    position: absolute;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 400px;
}

.my-cube-back .message-0 {
    top: 47px;
    left: 14px;
/*    background-color: green;*/
    width: 275px;
}

.my-cube-back .message-1 {
    top: 67px;
    left: 14px;
/*    background-color: green;*/
    width: 275px;
}

.my-cube-back .message-2 {
    top: 87px;
    left: 14px;
/*    background-color: green;*/
    width: 275px;
}

.my-cube-back .message {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

/*
.my-messages-buttons-cont {
    position: absolute;
    top: 10px;
    left: 10px;
}
*/

.my-messages-buttons-cont button{
    width: 45px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid #676767;
    color: #4A4A4A;
    font-size: 9px;
    margin-right: 5px;
}

/*
.my-messages-buttons-cont.set-1{
    position: absolute;
    top: 41px;
    left: 297px;
}
*/

/*
.my-messages-buttons-cont.set-2{
    position: absolute;
    top: 61px;
    left: 297px;
}

.my-messages-buttons-cont.set-3{
    position: absolute;
    top: 81px;
    left: 297px;
}
*/

.read{
    width: 45px;
/*    height: 15px;*/
    border-radius: 3px;
    border: 1px solid #676767;
    color: #4A4A4A;
    font-size: 9px;
    margin-right: 5px;
    background-color: lightgreen;
    float: right;
}

.delete{
    width: 45px;
/*    height: 15px;*/
    border-radius: 3px;
    border: 1px solid #676767;
    color: #4A4A4A;
    font-size: 9px;
    margin-right: 5px;
    background-color: red;
    float: right;
}

.my-message-cont {
    position: absolute;
    width: 375px;
/*    background-color: lightgreen;*/
}

.my-message-cont-0 {
    top: 49px;
    left: 10px;
/*    background-color: lightcoral;*/
}

.my-message-cont-1 {
    top: 69px;
    left: 10px;
/*    background-color: lightcyan;*/
}

.my-message-cont-2 {
    top: 89px;
    left: 10px;
/*    background-color: lightpink;*/
}

.my-message-cont p {
    width: 270px;
    /* clear: both; */
     float: left; 
    font-size: 12px;
    /* padding-left: 3px; */
    /* margin-top: -10px; */
    /* position: absolute; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* width: 264px; */
    text-align: left;
}
